.cover__subtitle {
  margin: 0 auto;
  max-width: 360px;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .cover__subtitle {
    max-width: 294px;
    font-size: 16px;
    line-height: 1.14;
  }
}

@media screen and (max-width: 447px) {
  .cover__subtitle {
    max-width: 266px;
    font-size: 14px;
  }
}
